<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://api.micromojis.dev/files/grinning_face.svg"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="An API for fetching Microsoft emojis in .svg files"
		/>
		<title>micromojis</title>
		<script type="module" crossorigin src="/assets/index.a60c747b.js"></script>
		<link rel="stylesheet" href="/assets/index.7fdf7c67.css">
	</head>
	<body>
		<div id="root"></div>
		
	</body>
</html>
